################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.BookShop/.vs/Webgentle.BookShop
/Webgentle.BookShop/Webgentle.BookShop/bin/Debug/netcoreapp3.1
/Webgentle.BookShop/Webgentle.BookShop/obj
